4 - Escalar humano
{
  "name": "4. Escalar humano",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            },
            {
              "name": "ultima_mensagem"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_conversa"
            },
            {
              "name": "telegram_chat_id"
            },
            {
              "name": "url_chatwoot"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        544
      ],
      "id": "dcff15d8-9123-4fe1-9100-518ffc398acc",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.telegram_chat_id }}",
        "text": "=Assistente desabilitado para o usuário {{ $('When Executed by Another Workflow').item.json.nome || '(usuário não cadastrado)' }} ({{ $('When Executed by Another Workflow').item.json.telefone }}).\n\nÚltima mensagem:\n\n---\n\n{{ $('When Executed by Another Workflow').item.json.ultima_mensagem }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        544
      ],
      "id": "e77642b5-9747-4532-aeb0-0af1b861aa26",
      "name": "Enviar alerta",
      "webhookId": "153d7fb2-c401-4894-95a5-c123c8bbdd0d",
      "credentials": {
        "telegramApi": {
          "id": "HFof8JxhcK9e96TR",
          "name": "Telegram Fernando"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $json.payload.append('agente-off').unique() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        544
      ],
      "id": "0fd7bc9a-b797-410a-96cc-70c8dfbfd3ec",
      "name": "Colocar etiqueta agente-off",
      "credentials": {
        "chatwootApi": {
          "id": "wdkGJ13Qw4EQSnKK",
          "name": "ChatWoot Borges Midias"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.autoia.store/api/v1/accounts/{{ $json.account_id }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"color\": \"#6233D0\",\n  \"description\": \"Agente IA não responderá esse contato.\",\n  \"title\": \"agente-off\",\n  \"show_on_sidebar\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        912
      ],
      "id": "9b6a516c-68c8-44ba-b373-e8542996cf0c",
      "name": "Criar etiqueta agente-off",
      "credentials": {
        "chatwootApi": {
          "id": "wdkGJ13Qw4EQSnKK",
          "name": "ChatWoot Borges Midias"
        }
      }
    },
    {
      "parameters": {
        "content": "## Criar etiqueta\n\nVocê pode criar a etiqueta \"agente-off\" por aqui, ou pela interface do Chatwoot.\n\n\n\n\n\n\n\n\n\n\n\n\n\n",
        "height": 340,
        "width": 1040,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        784
      ],
      "id": "ad1683bf-dc72-4023-b328-04708532fdd4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        544
      ],
      "id": "7c5fff50-fe02-4aec-9cb4-05beb01e2ee3",
      "name": "Listar etiquetas da conversa",
      "credentials": {
        "chatwootApi": {
          "id": "wdkGJ13Qw4EQSnKK",
          "name": "ChatWoot Borges Midias"
        }
      }
    },
    {
      "parameters": {
        "resource": "Profile",
        "operation": "Fetch Profile",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-chatwoot.chatWoot",
      "typeVersion": 1,
      "position": [
        192,
        912
      ],
      "id": "f6781b41-e2a5-4353-99a7-c5f320164e7e",
      "name": "Buscar informações da conta",
      "credentials": {
        "chatwootApi": {
          "id": "wdkGJ13Qw4EQSnKK",
          "name": "ChatWoot Borges Midias"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        912
      ],
      "id": "d9e64a2e-c457-401b-9af5-5763b9bc5b2a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "content": "![Chatwoot](https://app.chatwoot.com/brand-assets/logo_dark.svg)",
        "height": 100,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        272
      ],
      "id": "cffcc329-976e-4ed9-8072-08773aa4c647",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## 4. Escalar humano",
        "height": 80,
        "width": 540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        272
      ],
      "id": "69fef154-e2a4-420f-bac4-88aea7e04f9b",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.autoia.store/api/v1/accounts/{{ $('Buscar informações da conta').item.json.account_id }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"color\": \"#A44C74\",\n  \"title\": \"testando-agente\",\n  \"show_on_sidebar\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        912
      ],
      "id": "600827ff-3603-4907-9a87-a3cecdc15408",
      "name": "Criar etiqueta testando-agente",
      "credentials": {
        "chatwootApi": {
          "id": "wdkGJ13Qw4EQSnKK",
          "name": "ChatWoot Borges Midias"
        }
      }
    },
    {
      "parameters": {
        "content": "##",
        "height": 1060,
        "width": 1480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        192
      ],
      "typeVersion": 1,
      "id": "98d89d54-d6ea-43b9-9c0a-17f45ad4e47a",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Listar etiquetas da conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar etiqueta agente-off": {
      "main": [
        [
          {
            "node": "Enviar alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar etiqueta agente-off": {
      "main": [
        [
          {
            "node": "Criar etiqueta testando-agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar etiquetas da conversa": {
      "main": [
        [
          {
            "node": "Colocar etiqueta agente-off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar informações da conta": {
      "main": [
        [
          {
            "node": "Criar etiqueta agente-off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Buscar informações da conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5f9815d9-224c-442b-a43b-f472dbaee978",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "745c5ec7b4f7bedf5b997f34a58cb5014a535d9fcad5b70fac431108e8272c76"
  },
  "id": "Q1Xwct6EVyani5yQ",
  "tags": [
    {
      "createdAt": "2025-08-01T20:56:44.595Z",
      "updatedAt": "2025-08-01T20:56:44.595Z",
      "id": "4EzUPlNidst2XkWY",
      "name": "SECRETARIA FAZER.AI"
    }
  ]
}
